body {
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 20px;
}

.reset-lap-box {
  display: flex;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  width: 300px;
  height: 200px;
  font-size: 60px;
}

.reset-lap-box {
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.start-stop,
.reset-lap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.start-stop {
  background-color: darkgreen;
  color: lightgreen;
}

.stop-bg {
  background-color: darkred;
  color: red;
}

.display-lap {
  width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: white;
  padding: 10px;
  overflow-y: auto;
  border-radius: 15px;
}

.row-lap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}