body {
  font-family: Arial;
}

.name-input,
.date-input {
  height: 35px;
  padding: 0 10px;
  font-size: 15px;
}

.add-btn,
.delete-btn {
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: darkred;
}

.list,
.list-input {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.list-input {
  margin-bottom: 10px;
}